{% extends 'partials/base2.html' %}
{% block title %} Home {% endblock %}

{% block content %}


<div class="container">
	<div class="row mt-4">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-info text-white">
					Overview
				</div>
				<div class="card-body">
					Whenever something bad(damage) happens to our car, the first action most of us take is to call our insurance company and tell them about what has happened. We then have to wait for an agent from the insurance company to come and inspect the car physically by taking pictures of the damages. The agent then forwards his/her findings to the insurance company for processing. This process of inspection usually takes weeks and sometimes months, which results in claim delay. This system aims to enable insurance companies receive quick report on a customers situation, thereby speeding the the process of insurance claim.
				</div>
			</div>
		</div>
	</div>
	
</div>


{% endblock %}